$breakpoints: (
        //"phone":        400px,
        //"phone-wide":   480px,
        //"phablet":      560px,
        //"tablet-small": 640px,
        //"tablet":       768px,
        //"tablet-wide":  1024px,
        //"desktop":      1248px,
        //"desktop-wide": 1440px
        "first":   701px,
        "second":  901px,
        "third":  1401px
);
@mixin mq($width, $type: min, $target: "all") {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    //@media only screen and (#{$type}-width: $width) {
      @media #{$target} and (#{$type}-width: $width) {
      @content;
    }
  }
}
//
@include mq("first") {
  header{
    width: 700px;
    margin: 0 auto;
    min-height: 8rem;
    h1{
      width: 100%;
      color: $color-dark01;
      &:before, &:after{
        width:230px;
      }
      i.fa-lg{
        display:inline;
        color: $color-dark01;
        vertical-align:baseline;
        float:none;
        font-size: $font-scale-06;
        line-height: 6.3968rem;
        &~span{
          float: none;
          letter-spacing: $letter-space-default;
          font-size: $font-scale-05;
          text-align: left; //1 lines of 3.998 * 1.6 = 6.3968
        }
      }
    }
    nav{
      position: static;
      clear:both;
      width: 100%;
      padding: 0;
      &>ul>li{
        width:20%;
        float: left;
        a{
          font-size: $font-scale-01;
          line-height: 2rem;
          min-height: 6rem;
          border:none;
          padding:1.0rem;
          background-color: $bg-color-default;
          @include border(1px, $color-light02, "left");
          &:last-child{
            @include border(1px, $color-light02, "right");
          }
        }
      }
    }
  }
  section.focal,
  section.content1,
  section.content2,
  footer{
    width: 700px;
    margin: 0 auto;
  }
  .col-4{
    @include equalSpaced(2);
  }
  section.content2 {
    h4, li{
      font-size: $font-scale-02;
    }
  }
  footer {
    .fa-circle {
      color: $bg-color-med;
    }
    p {
      color: $color-dark02;
    }
    .col-2:last-child{
      unicode-bidi: bidi-override;
      direction: rtl;
    }
    h4 {
      &[lang=ar] {
        display: block;
      }
      &[lang=de],
      &[lang=en],
      &[lang=ru]{
        display:none;
      }
    }
  }
}
//
@include mq("second") {
  header{
    width: 900px;
    &:before,&:after{
      width:300px;
    }
    h1{
      width: 100%;
      color: $bg-color-dark;
      i.fa-lg{
        color: $bg-color-dark;
      }
    }
    nav{
      &>ul>li{
        background-color: $bg-color-default;
        & a{
          padding: 0 1.0rem;
          margin: 1.0rem 0;
          line-height: 2rem;
          min-height: 2rem;
          border: none;
        }
        &:first-child a {
          border-left:none;
        }
        &:last-child a {
          border-right:none;
        }
      }
    }
  }
  section.focal,
  section.content1,
  section.content2,
  footer{
    width: 900px;
  }
  section.focal {
    h2, p.author{
      width: 600px;
      margin: 0 auto;
    }
  }
  .col-3{
    @include equalSpaced(3,5%);
  }
  .col-4{
    @include equalSpaced(4,4%);
  }
  section.content1 {
    h3{
      font-size: $font-scale-03;
      @include font-weight(1);
      .fa-2x{
        font-size: $font-scale-03;
        padding-right: 1rem;
      }
    }
  }
  section.content2 {
    p{
      font-size: $font-scale-01;
      @include font-weight(4);
    }
  }
  footer {
    .fa-circle{
      color: $color-light01;
    }
    p {
      color: $color-dark02;
    }
    .col-2:last-child{
      direction: ltr;
    }
    h4 {
      &[lang=ru]{
        display:block;
      }
      &[lang=de],
      &[lang=ar],
      &[lang=en]{
        display:none;
      }
    }
  }
}
//
@include mq("third") {
  header{
    width: 1400px;
    &:before, &:after{
      width:450px;
    }
    h1{
      width: 100%;
      color: $color-dark01;
      i.fa-lg{
        color: $color-dark01;
      }
    }
    nav{
      &>ul>li>a{
        font-size: $font-scale-02;
        min-height: 2rem;
      }
    }
  }
  section.focal,
  section.content1,
  section.content2,
  footer{
    width: 1400px;
  }
  section.focal {
    h2{
      font-size: $font-scale-05;
    }
  }
  section.content1 {
    h3{
      font-size: $font-scale-04;
      .fa-2x{
        font-size: $font-scale-04;
        vertical-align: middle;
      }
    }
  }
  section.content2 {
    h4, li{
      font-size: $font-scale-03;
    }
    p{
      font-size: $font-scale-02;
    }
  }
  footer {
    .fa-circle{
      color: $bg-color-med;
    }
    p{
      font-size: $font-scale-02;
      letter-spacing: 0.2rem;
      color: $color-dark02;
      &:last-child{
        color: $color-light02;
      }
    }
    h4 {
      &[lang=en]{
        display:block;
      }
      &[lang=de],
      &[lang=ar],
      &[lang=ru]{
        display:none;
      }
    }
  }
}
//